
.Filter-input {
  width: 100%;
  font-size: 18px;
  border: none;
  outline:0px;
  background: transparent;
}

.Filter-input-content {
  height: 46px;
  display: flex;
  padding: 0px 20px;
  flex: 1;
  margin-right: 15px;
  border-radius: 3px;
  background-color: white;
  border: .0625em solid #ddd;
}


.Filter-content {
  margin-top: 10px;
  display: flex;
}

.Filter-buttom {
  background-color: #009ee3;
  border: solid #009ee3 1px;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  height: 46px;
  border-radius: 3px;
  flex: 1;
}

.Filter-buttom:hover {
  background-color: #00b2eb;
}

.Filter-input:last-child {
  margin-right: 0;
}

@media (max-width: 425px) {
  .Filter-content {
      padding: 10px;
      flex-direction: column;
      height: auto;
  }
  .Filter-input-content {
    margin-bottom: 5px;
    margin-right: 0px;
  }
}
