.FootballPlayers {
  background-color: #F0F0F0;
  min-height: calc(100vh - 40px);
  padding: 20px 5px;
}

.FootballPlayers-content {
  max-width: 1328px;
  margin: 0 auto;
}

.FootballPlayers-title {
  color: #101C36;
  font-size: 24px;
  margin: 20px 0;
}

@media (max-width: 425px) {
  .FootballPlayers-title {
    text-align: center;
  }
}
